.Node {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.GameContainer {
  text-align: center;
  width:80%;
  margin: 5% 10% 5% 10%;
  text-align: center;
  display: inline-block;
}

.RowContainer {
  width: 80%;
  height: 20px;
  margin: 0px 10% 0px 10%;
  text-align: center;
}

.Start {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align:center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./Styling/map-marker-alt-solid.svg);
}

.End {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(./Styling/flag-regular.svg);
}

.Path {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #FAFF00;
}

.Visited {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: lightgrey;
}

.Wall {
  border: 0.5px solid rgb(0, 153, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
}
